table h2 { margin: 0 }
td.rowsize { width: 40px; }
td.rowsize > span { line-height: 20px; width: 20px; height: 20px; text-align: center; background: #888; color: #fff; display: block; float: right; font-size: 10px; }

table.album a { 
  display: block; 
  position: relative;
}

table.album img {
  background-color: #FFFFFF;
  border: 1px solid #888888;
  height: 100px;
  padding: 1px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  display: none;
}

table.album a:hover img {
  display: block;
}