<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>docs.nicollet.net</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="/">docs.nicollet.net</a>
      <ul class="nav navbar-nav">
        <li><a href="/albums">Albums</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<li>
	  <p class="navbar-text" id="username"></p>
	</li>
	<li>
	  <a style="display:none" id="login" class="persona-button" 
	     href="javascript:void(0)">
	    <span>Login</span>
	  </a>
	</li>
	<li>
	  <a style="display:none" id="logout" class="persona-button" 
	     href="javascript:void(0)">
	    <span>Logout</span>
	  </a>
	</li>
      </ul>
    </nav>

    <div class="container" id="container">
      <button onclick="API.album.create('Name',alert)">Create</button>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
